.theme-black .navbar {
  background-color: #000; }

.theme-black .navbar-brand {
  color: #fff; }
  .theme-black .navbar-brand:hover {
    color: #fff; }
  .theme-black .navbar-brand:active {
    color: #fff; }
  .theme-black .navbar-brand:focus {
    color: #fff; }

.theme-black .nav > li > a {
  color: #fff; }
  .theme-black .nav > li > a:hover {
    background-color: transparent; }
  .theme-black .nav > li > a:focus {
    background-color: transparent; }

.theme-black .nav .open > a {
  background-color: transparent; }
  .theme-black .nav .open > a:hover {
    background-color: transparent; }
  .theme-black .nav .open > a:focus {
    background-color: transparent; }

.theme-black .bars {
  color: #fff; }

.theme-black .sidebar .menu .list li.active {
  background-color: transparent; }
  .theme-black .sidebar .menu .list li.active > :first-child i, .theme-black .sidebar .menu .list li.active > :first-child span {
    color: #000; }

.theme-black .sidebar .menu .list .toggled {
  background-color: transparent; }

.theme-black .sidebar .menu .list .ml-menu {
  background-color: transparent; }

.theme-black .sidebar .legal {
  background-color: #fff; }
  .theme-black .sidebar .legal .copyright a {
    color: #000 !important; }

/*Personalizados*/
.theme-black .navbar{background-color: white}
.theme-black .navbar .navbar-brand{color: black}
.theme-black .navbar .nav li a{color: black}
.theme-black .navbar .nav li.dropdown a{color: orange}
.form-control{background-color: transparent;color:white;}
.btn-trans{background-color: transparent;}
.pagination > .disabled > a, .pagination > .disabled > span{background-color:transparent;}
.pagination > .next > a, .pagination > .next > span{background-color:transparent;}
.pagination > .previous > a, .pagination > .previous > span{background-color:transparent;}
.pagination > .disabled:hover > a, .pagination > .disabled:hover > span{background-color:inherit;}
.pagination > .next:hover > a, .pagination > .next:hover > span{background-color:inherit;}
.pagination > .previous:hover > a, .pagination > .previous:hover > span{background-color:inherit;}